<style>
h1 {
    background-color: #6495ed;
}

p {
    background-color: #e0ffff;
}

div {
    background-color: #b0c4de;
}
</style>
<h1>My Twig Header</h1>
<p>
  This is a Twig template
</p>
<p>
  Rendering name attribute: <b>{{name|escape}}</b>
</p>